/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.about-me-banner {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.about-me-banner img {
    flex-shrink: 0;
    min-width: auto;
    min-height: 100%;
    margin-top: 125px;
}

.about-me-card {
    background-color: #282c34 !important;
    border: none !important;
    border-radius: 1.25rem;
    margin-top: 20px;
}

@media screen and (max-width: 576px)  {
    .about-me-banner img {
        margin-top: 0;
    }
}