/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.about-me-banner {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.about-me-banner img {
    flex-shrink: 0;
    min-width: auto;
    min-height: 100%;
    margin-top: 125px;
}

.about-me-card {
    background-color: #282c34 !important;
    border: none !important;
    border-radius: 1.25rem;
    margin-top: 20px;
    text-align: left;
}

.about-me-left {
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me-title {
    padding-top: 1rem;
}

.about-me-text {
    float: right;
    width: 75%;
}

.about-me-headshot {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 80px;
    margin-top: -95px;
}

.about-me-headshot img {
    flex-shrink: 0;
    width: auto;
    height: 230px;
}

.contact-btn {
    display: flex !important;
    align-items: center;
    margin-top: 0.75rem;
}

.contact-btn svg {
    padding-right: 5px;
    width: 20px;
}

@media screen and (max-width: 576px)  {
    .about-me-banner img {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .about-me-text {
        padding-top: 2rem;
        padding-left: 1rem;
    }
}